body {
    padding: 0%;
    height: 100%;
    background-color: #ef7800;
}

.object {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vh;
    justify-content: left;
    text-align: center;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.inactive {
    background-color: #00000055;
    color: #00000055;
    .objectPicture {
        opacity: 0.5;
    }
}

.active {
    background-color: #ffffff55;
}
.soldImg {
    display: none;
}

.object.inactive .soldImg {
    display: block;
}

.objectPicture {
    margin: 5px;
}

.objectName {
    font-size: 48pt;
}